@charset "utf-8";
/* CSS Document */

/*初始化*/
*{margin: 0;padding: 0;}
body{font-size: 12px;font-family: "微软雅黑";color: #666;line-height: 1.7;}
html {color: #000;background: #FFF;}
a{color: #666;text-decoration: none;display: block;}
a:hover{text-decoration: none;color: #F30;}
ul,li{list-style: none;}
img{border: none;}
.clear{clear: both;height: 0;overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
.center{width: 1002px;margin: 0 auto;}

/*top*/
#top{width: 100%;position: fixed;top: 0;left: 0;z-index: 1;}
#top .down{width: 100%;height: 80px;background: url(../images/74_02.jpg);}
#top .down .logo{width: 400px;}
#top .down .logo .logo1{margin-top: 18px;cursor: pointer;float: left;margin-right: 10px;}
#top .down .logo h2{margin-top: 26px;color: #1C153F;font-family: '方正黑体简体';}
.navbox{height: 80px;position: relative;z-index: 9;font-family: '微软雅黑';}
.nav{height: 80px;list-style: none;}
.nav li{float: left;height: 80px;position: relative;list-style: none;margin-left: 40px;}
.nav li a{text-decoration: none;}
.nav li a span{float: left;line-height: 80px;font-size: 14px;color: #333;}
.nav li a span:hover{color: #0084cf;}
.mj_hover_menu{text-decoration: none;}
.nav li.selected .submenu{display: block;}
.nav li .submenu{display: none;position: absolute;top: 80px;left: -9px;}
.nav li .submenu li{float: none;padding: 0;background: none;height: auto;border-bottom: dotted 0px #BEBEBE;}
.mj_menu_pro_main{width: 765px;margin: auto;padding-top: 12px;}
.mj_menu_pro_li{float: left;}
.mj_menu_li_txt{line-height: 13px;font-size: 12px;color: #696969;}
.mj_menu_li_txt font{font-size: 14px;color: #0084cf;}
.mj_menu_li_txt a{color: #696969;}
.mj_menu_li_txt a:hover{color: #0084cf;}
.mj_menu_news_bg{width: 480px;height: 185px;background: url(../images/menu_news_bg.png) no-repeat;}
.mj_menu_news_main{width: 440px;margin: auto;padding-top: 12px;}
.mj_menu_news_li{padding: 0px 30px;margin-right: 30px;height: 150px;float: left;border-right: solid 1px #cccccc;}
.mj_menu_news_img{float: left;text-align: left;color: #0084cf;line-height: 30px;font-size: 14px;}
.mj_menu_news_li2{padding: 0px 30px;height: 150px;float: right;border-left: solid 1px #cccccc;}
.mj_menu_news_img2{float: left;margin-left: 30px;text-align: left;color: #0084cf;line-height: 30px;font-size: 14px;}
.mj_menu_news_li3{padding: 0px 25px;height: 150px;float: right;border-left: solid 1px #cccccc;}
.mj_menu_news_img3{float: left;margin-left: 10px;text-align: left;color: #0084cf;line-height: 30px;font-size: 14px;}

/*banner*/
#banner{width: 100%;padding-top: 80px;}
#banner img{width: 100%;}

/*content*/
#content{padding-top: 35px;height: 669px;}
#content .left a{width: 200px;font-size: 14px;color: #454444;padding: 20px 0 20px 20px;background: #f2f2f2;}
#content .left li.title{width: 200px;font-size: 16px;color: #fff;background: #498fe0;padding: 20px 0 20px 20px;}
#content .left a:hover{background: #fff;color: #498fe0;border-left: 2px solid #498fe0;box-sizing: border-box;padding: 20px 0 20px 18px;}
#content .right{width: 720px;position: relative;}
#content .right h2{height: 55px;border-bottom: 1px solid #A8A8A8;line-height: 75px;}
#content .right .add{background: url(../images/about_05.jpg) no-repeat 0 center;height: 17px;padding-left: 15px;position: absolute;top: 30px;right: 0;}
#content .right .add li{float: left;padding: 0 5px;}
#content .right .add a{display: inline;float: left;}
#content .right .add a:hover{color: #498FE0;}
#content .right .box{width: 332px;height: 142px;background: #498fe0;border-radius: 5px;margin: 20px 0;}
#content .right .box img{margin: 3px 3px;float: left;}
#content .right .box a{color: #fff;font-size: 14px;}
#content .right .box1{width: 332px;height: 142px;background: #498fe0;border-radius: 5px;position: absolute;right: 0;bottom: 182px;}
#content .right .box1 img{margin: 3px 3px;float: left;}
#content .right .box1 a{color: #fff;font-size: 14px;}

/*footer*/
#footer .up{width: 100%;height: 237px;background: #676767;}
#footer .up .left .box{float: left;margin-right: 100px;}
#footer .up .left .box a{color: #e1e1e1;margin-bottom: 5px;}
#footer .up .left .box a:hover{color: #fff;}
#footer .up .left .box a.title{font-size: 14px;margin: 20px 0;}
#footer .up .left .box li{color: #e1e1e1;margin-bottom: 5px;}
#footer .up .right img{margin: 15px 0;}
#footer .up .right li{color: #e1e1e1;font-size: 16px;text-align: center;}
#footer .down{width: 100%;height: 30px;background: #222222;}
#footer .down li{line-height: 30px;}
#footer .down .left li a{display: inline;}